@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5em;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


header .wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
  height: 70px;
}

header .logo img {
  height: 50px;
  display: block;
  box-shadow:none 3px 3px 3px;
  transition: box-shadow 0.5s;
  margin-left: 20px ;
}

header .logo img:hover {
  box-shadow: #ffffffbb 3px 3px 3px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(43, 43, 43);
  padding: 20px;
  transition: left 0.3s;
}

.navbar.show {
  left: 0 !important;
}

.hide-scroll {
  overflow: hidden;
}

.navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.navbar ul a {
  all: unset;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
  transition: color 0.5s, text-decoration 0.4s;
  margin-right: 20px;
}

.navbar ul a:hover {
  color: #007c92;
  text-decoration: underline overline;
  text-decoration-thickness: 3px;
}

.close-nav {
  text-align: right;
  margin-bottom: 20px;
}

.close-nav button {
  all: unset;
  background: #f7f7f779;
  font-size: 42px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 3px;
  color: #444444;
}

.close-nav button:hover {
  color: #222222;
  background: white;
}

.menu-bar button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  height: 50px;
  width: 50px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.menu-bar i {
  display: block;
  border-top: 3px solid #444444;
  border-bottom: 3px solid #444444;
}

.menu-bar i::after {
  display: block;
  content: "";
  border-top: 3px solid #444444;
  margin: 6px 0;
}

.menu-bar button:hover {
  background: white;
}

.menu-bar button:hover i {
  border-color: #222222;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

@media (min-width: 550px) {
  .navbar {
    all: unset;
    display: block;
  }

  .navbar ul {
    flex-direction: row;
    gap: 20px;
  }

  .navbar ul a {
    font-size: inherit;
  }

  .close-nav,
  .menu-bar {
    display: none;
  }
}

#container1 {
  text-align: center;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

h1 {
  margin-top: 0;
}

#imageInput {
  
  margin: 20px auto;
}

button {
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#imageContainer {
  margin: 30px 0;
}

#previewImage {
  max-width: 100%;
  max-height: 400px;
}

#progressBar {
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  
}

#progressFill {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  border-radius: 10px;
}

#result {
  margin-top: 20px;
  display: none;
}

#removedImage {
  max-width: 100%;
  max-height: 300px;
}

#downloadButton {
  display: none;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }

  .banner {
    color: white;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(320deg, #01314d, #1c1e20);
    background-size: 400% 400%;
    -webkit-animation: MoveingColors 20s ease infinite;
    -moz-animation: MoveingColors 20s ease infinite;
    animation: MoveingColors 10s ease infinite;
  }
  
  @-webkit-keyframes MoveingColors {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@-moz-keyframes MoveingColors {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@keyframes MoveingColors {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
  
  .content {
    max-width: 800px;
    padding: 2rem;
    text-align: center;
  }
  
  .content h1 {
    margin: 0;
    padding-top: 2rem;
    font-size: 3rem;
    color: #00ffd5;
    margin-left: -300px;
    opacity: 0;
    animation: slideLeft 1s ease-in-out 0.1s forwards;
  }
  
  @keyframes slideLeft {
    to {
      margin-left: 0;
      opacity: 1;
    }
  }
  
  
  .typed-text {
    margin: 0;
    padding-top: 1rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #007bff;
    animation: slideLeft1 0.5s ease-in-out 0.2s forwards;
    animation: typing 4s steps(1, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #007bff;
    }
  }

  @media screen and (min-width: 468px) {
    .typed-text {
      font-size: 15px; /* Decrease font size for larger screens */
      
    }
  }
  .Notfi{
    background-color: #00aeff;
    box-shadow: 1px 1px 1px 1px  #00000023;
    height: 45px;
}
.Tit-note h3{
    display: inline-block;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 12px;
}
@media (max-width: 768px) {
  .Notfi {
    height: auto;
  }
}

  .button {
    border-radius: 4px;
    background-color: #003a61;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s
  }
  
  .button:hover span {
    padding-right: 25px;

  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
.bx {
  display: contents;
}

.bx h1 {
  background-color: #111111;
  color: white;
  text-align: center;
  margin:auto;
  margin-top: 13px ;
  width:130px;
  border-radius: 5px;
}
